.container{
    margin: auto;
    max-width: 1140px;
    padding-left: 16px;
    padding-right: 16px;
    }

    .navbar {
        background-color: rgb(145, 25, 25);
        font-family: Verdana, Geneva, Tahoma, sans-serif    ; 
        }
        
        .navbar .container{
        align-items: center;
        display: flex;
        justify-content: space-between;
        }
        
        .navbar a{
        color: rgb(255, 255, 255);
        display: block;
        padding: .5em;
        text-decoration: none;
        }
        
        .navbar-nav{
        display: flex;
        list-style: none;
        padding: 0;
        
        }
        
        .navbar-nav .nav-item{
        margin: 0 .5em;
        }

        .logoDiv{
            background-color: white;
            padding: 20px;
            display: flex; 
            align-items: center;
        }

        .logoDiv hr{
            flex:1;
            border: none;
            border-top: 3px solid rgb(145, 25, 25);
        }

        body{
            background-color: #f3f3f3;
        }